.contact{
    background-color:var(--darkgrey);
    color:var(--white);
}
.icons{
   
    list-style:none;
    display: inline;
   }
.contact-icons {
    text-align: center;
}

form {
    margin-left: 10%;
    margin-right: 10%;
}