@import url("https://fonts.googleapis.com/css2?family=Kanit&display=swap");

.contact {
  background-color: var(--darkgrey);
  color: var(--white);
  text-align: left;
  font-family: "Kanit", sans-serif;
}
h3 {
  margin-left: 5px;
}
.icons {
  list-style: none;
  display: inline;
}
.contact-icons {
  text-align: center;
}

form {
  margin-left: 10%;
  margin-right: 10%;
}

.btn {
  margin-top: 5px;
}

#contactList {
  width: fit-content;
  margin-left: 10%;
  margin-right: 10%;
}
#contactItem {
  text-decoration: none;
}
