/*Footer*/
:root {
    --pink: #e6a1ac;
    --darkgrey:#3d3b3b;
    --lightgrey:#574f4f;
    --lightergrey:#645b5b;
    --white:#dfe5eb;
}

footer {
    font-size: 8px;
    color: var(--lightgrey);
    background-color:var(--darkgrey) ;
    text-align: center;
}

.icons{
    margin-left: 20px;
    margin-right: 20px;
    list-style:none;
    display: inline;
   }
.contact-icons {
    text-align: center;
}